<!DOCTYPE html>
<!--This website template was created by: Alfonso Muniz-->

<html lang="en">
 <head>
      <link rel="stylesheet" href="css/styles.css">
     <title>
         How to Stay Safe in the Internet
     </title>
     <meta charset="utf-8">
 </head>
 
 <body>
     <div id="container">
         <!--Insert Website Logo in header-->
         <header>
             <img src="images/Computer_Virus.png" alt="How to Stay safe in the Internet" height="450" width="800"><!--Sources = https://edu.gcfglobal.org/es/virus-informaticos-y-antivirus/que-es-un-virus-informatico/1/-->
         </header>

         <!-- Use the nav area to add hyperlinks to other pages within the website-->
         <nav>
             <a href="index.html">Home</a> 
             <a href="about.html">About Us</a> 
             <a href="tips.html">Tips</a> 
             <a href="contact.html">Contact Us</a>
         </nav>

         <!-- Use the main area to add the main content of the webpage -->
         <main>
         </main>

         <footer>
             Alfonso A. Muniz ITS 110. <br>
             <a href="mailto:muniz6@pnw.edu">muniz6@pnw.edu</a>
         </footer>
         </div>

 </body>








</html>
